{% extends 'base.html' %}
{%block title%}
    {{giornalista.nome}} {{giornalista.cognome}}
{%endblock title%}

{%block content%}
    <h1>Dettagli del giornalista {{giornalista.nome}} {{giornalista.cognome}}: </h1>
    <p><strong>Data di nascita: </strong>{{ giornalista.anno_di_nascita }}</p>
    <P>Tutti i suoi articoli e visualizzazioni:</P>
    {% if articoli_giornalista %} <!-- se il giornalista ha scritto almeno un articolo (lista non vuota)-->
        <ul>
            {% for articolo in articoli_giornalista %}
                <li><strong>Titolo:</strong> <a href="{% url 'news:articoloDetail' articolo.id %}">{{ articolo.titolo }}</a> ({{articolo.visualizzazioni}} visualizzazioni)</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Nessun articolo per questo giornalista</p>
    {% endif %}
{%endblock content%}